{% extends 'base.html'%}

{% block header %}
{% block title %} Admin Control {% endblock %}
{% endblock %}



{% block content %}

<div class="row">
    <div class="col-3 col-sm-12">
        <H2>Administrator Dashboard</H2>
        <br>
        <form class="" method="POST" action="/admin/dashboard">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="col-12 d-flex justify-content-evenly">
                <div class="col-4">
                    <h3 class="">Database Actions</h3>
                </div>
                <button class="adminDashBoardButton" type="submit" name="dashboardAction" value="video">Video
                    Management</button>
                <button class="adminDashBoardButton" type="submit" name="dashboardAction" value="article">Article
                    Management</button>
                <button class="adminDashBoardButton" type="submit" name="dashboardAction" value="user">User
                    Management</button>
                <button class="adminDashBoardButton" type="submit" name="dashboardAction" value="database">Database Management</button>
            </div>
            <br>
            <div class="col-12 d-flex justify-content-evenly">
                <div class="col-4">
                    <h3 class=""> Module Actions</h3>
                </div>
                <button class="adminDashBoardButton" type="submit" name="dashboardAction" value="authmod">authentication
                    module</button>
                <button class="adminDashBoardButton" type="submit" name="dashboardAction" value="articlemod">content
                    module</button>
                <button class="adminDashBoardButton" type="submit" name="dashboardAction" value="usermod">forum
                    module</button>
            </div>
            <br>
            <div class="col-12 d-flex justify-content-evenly">
                <div class="col-4">
                    <h3 class=""> Quick Actions</h3>
                </div>
                <button class="adminDashBoardButton" type="submit" name="dashboardAction" value="quickvid">Refresh Video
                    Database</button>
            </div>
    </div>
</div>

{% endblock %}