{% extends 'base.html'%}

{% block header %}
{% block title %} Manage Article - {{ article_data.title }} {% endblock %}
{% endblock %}


{% block content %}


<H2 class="text-center">{{ article_data.title }}</H2>

<div class="container-fluid justify-content-center m-1 p-1">

    <h2>Edit {{ article_data.title }}</h2>
    <form action="/admin/article-management/{{ article_data.articleID }}" name="articleform" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-6">
                    <label>Title</label><br>
                </div>
                <div class="col-6">
                    {{ form.title(size=60) }}<br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Description</label><br>
                </div>
                <div class="col-6">
                    {{ form.description(rows=20, cols=80) }}<br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Content</label><br>
                </div>
                <div class="col-6">
                    {{ form.content(rows=20, cols=80) }}<br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Tags (comma-separated)</label><br>
                </div>
                <div class="col-6">
                    {{ form.tags(size=60) }}<br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label>Article Hidden</label><br>
                </div>
                <div class="col-6">
                    {{ form.hidden() }}<br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label>Image (Optional)</label><br>
                </div>
                <div class="col-6">
                    {{ form.image() }}<br><br>
                    <img src="{{ url_for('data.data_send_article_img', filename=article_data.image_filename) }}"
                        width="auto" height="170px" />
                </div>
            </div>

            {{ form.submit(class="btn btn-primary") }}

    </form>

</div>

<br>

{% endblock %}