#folders
.venv/*
errors_to_look_at/*
flask_session/*
__pycache__/*
static/assets/videothumbs/*
/.idea

#refactoring
/app

#specific files

.env
.vscode
.gitignore
Keys.py
database.db

database.db
run.py