#folders
.venv/*
errors_to_look_at/*
flask_session/*
__pycache__/*
/*/__pycache__/*
/*/*/__pycache__/*

app/static/assets/videothumbs/*
app/data/coaching/*
/.idea


#specific files
.env
.vscode
.gitignore
config.py
database.db
admin.py

