{% extends "base.html" %}
{% block content %}

<h1>{{ post.title }}</h1>
<p><strong>Posted by:</strong> {{ post.originalPoster }}</p>
<p>{{ post.content }}</p>
{% if current_user == post.originalPoster %}
    <a href="/forums/{{ post.forumID }}/edit" class="button">Edit Post</a>
    <a href="/forums/{{ post.forumID }}/delete" class="button">Delete Post</a>
{% endif %}
<a href="/forums/{{ post.forumID }}/report" class="button">Report Post/Comment</a>

<hr>
<h3>Leave a comment</h3>

    <form method="POST" action="{{ url_for('forum.create_comment', id=post['forumID']) }}">
        {{ comment.hidden_tag() }}
        <p>
            {{ comment.content.label }}<br>
            {{ comment.content(rows=4, cols=60) }}
        </p>

        <p>{{ comment.submit() }}</p>
    </form>

<hr>


<hr>
<h3>Comments</h3>
    {% for cmt in comments %}
    <div class="comment">
        <strong>{{ cmt.username }}</strong>: {{ cmt.content }}
    </div>
    {% endfor %}
<hr>

{% endblock %}
