{% extends 'base.html'%}

{% block header %}
{% block title %} About {% endblock %}
{% endblock %}



{% block content %}

<div class="row">
    <div class="col-6 ">
        <img src="../static/assets/photos/VanadamEHLC2025.jpg" height="200px"/>
    <p>photography by <a href="x.com/BlameTheMeg">@BlameTheMeg</a></p>
    </div>
    <div class="col-6">
        <div class="quote-box">
            <h2> "It's not about being the best, It's about understanding you can always improve..."</h2>
        </div>
    </div>
</div>


{% endblock %}