{% extends 'base.html'%}

{% block header %}
{% block title %} {{ map.name }} Content {% endblock %}
{% endblock %}

{% block content %}

<!-- Halo infinite Content -->
<section id="map_page">
    <div class="row  justify-content-center m-1  p-3 pt-2" style="background-color: black!important;">
        <div class="col-12 p-2 m-3">
            <h1 style="text-align: center;">{{ map.name }}</h1>
            <h3 style="text-align: center;">"{{ map["description"] }}"</h3>
        </div>
        <div class="col-md-11 col-xl-5 d-flex justify-content-center m-2 p-0">
            <img src="{{ url_for('static', filename='assets/mapthumbs/HaloInfinite/' ~ map.name ~ '.jpg' ) }}"
                style="max-width: 110%; overflow: hidden;">
        </div>
        <div class="col-md-11 col-xl-5 p-2 m-2 flex-fill p-2 m-2">

            <!--map data from Jinja2-->
            <div class="d-flex flex-column justify-content-evenly flex-fill h-100 my-auto py-auto"  style="border-style: none!important;">


                <div  style="background-color: black!important;">
                    <h4> <img src="../static/assets/icons/Halo.png" style="width: 20px; display: inline;"> Ranked Arena
                        Modes</h4>
                    {% set MM_modes = map["MM modes"].split() %}
                    {% for mode in GAME_MODES.keys() %}

                    {% if mode | string == "0" and mode|string in MM_modes %}
                    <h6 class="text-center">map is not in rotation</h6>
                    {%endif %}

                    {% if mode|string in MM_modes and mode|string != "0" %}

                    <a href="gamemode/{{ GAME_MODES[mode] }}" style="text-decoration: none;">
                        <img class="text-center" src="{{ url_for('static', filename='assets/modethumbs/' ~ GAME_MODES[mode] ~ '_100x100.png') }}"
                            style="max-width: 30px" alt="{{ GAME_MODES[mode] }}">
                    </a>

                    {% endif %}
                    {% endfor %}

                </div>
                <br>
                <div  style="background-color: black!important;">

                    <h4> <img src="../static/assets/icons/HCS.png" style="width: 20px; display: inline;"> Halo
                        Championship Series Modes</h4>

                    {% set hcs_modes = map["HCS modes"].split() %}

                    {% for mode in GAME_MODES.keys() %}

                    {% if mode | string == "0" and mode|string in hcs_modes %}
                    <h6>map is not in rotation</h6>
                    {%endif %}

                    {% if mode|string in hcs_modes and mode|string != "0" %}
                    <a href="gamemode/{{ GAME_MODES[mode ]}}" style="text-decoration: none;">
                        <img src="{{ url_for('static', filename='assets/modethumbs/' ~ GAME_MODES[mode] ~ '_100x100.png') }}"
                            style="max-width: 30px" alt="{{ GAME_MODES[mode] }}">
                    </a>
                    {% if mode | string == "0" %}
                    <span>map is not in rotation</span>
                    {%endif %}
                    {% endif %}
                    {% endfor %}


                </div>
                <br>
                <div  style="background-color: black!important;">
                    <h4> <img src="../static/assets/icons/EHL.png" style="width: 20px; display: inline;"> European Halo
                        League Modes</h4>

                    {% set EHL_modes = map["EHL modes"].split() %}

                    {% for mode in GAME_MODES.keys() %}

                    {% if mode|string in EHL_modes and mode|string == "0" %}
                    <h6>map is not in rotation</h6>
                    {%endif %}

                    {% if mode|string in EHL_modes and mode|string != "0" %}
                    <a href="gamemode/{{ GAME_MODES[mode ]}}" style="text-decoration: none;">
                        <img src="{{ url_for('static', filename='assets/modethumbs/' ~ GAME_MODES[mode] ~ '_100x100.png') }}"
                            style="max-width: 30px" alt="{{ GAME_MODES[mode] }}">
                    </a>
                    {% if mode | string == "0" %}
                    <span>map is not in rotation</span>
                    {%endif %}
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <!-- SQLite query results-->
    <br>
    <h1 class="text-center">Shortform Videos for {{ map. name }}</h1>
    <!-- SHORTFORM RESULTS-->
    <div class="d-flex justify-content-center overflow-auto p-1"  style="background-color: black!important;">
        {% for result in map_results %}
        {% if result["videotype"] == "Shortform" %}
        <iframe class="mx-1" width="207" height="280" src="https://www.youtube.com/embed/{{ result.vidID }}"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>

        {% endif %}
        {% endfor %}
    </div>

    <br>

    <!-- LONGFORM RESULTS-->
    <h1 class="text-center">Longform Videos for {{ map.name }}</h1>
    <div class="row align-content-center mx-auto p-2 my-auto"  style="background-color: black!important;">
        <div class="d-flex flex-column"  style="background-color: black!important; border-style: none!important;">
            {% for result in map_results %}
            {% if result["videotype"] == "Longform" %}
            <a href="/videos/{{result.vidID}}" class="text-decoration-none">
            <article id="{{ result.vidID }}" class="video-long">
                    <div class="row mb-1 video-long">
                        <div class="col-6 col-md-auto p-0 m-0 article-image" style="border-radius: 0px; height: 170px;">
                            <img class="rounded-start-2" src="{{ result.thumbnailsmax}}" width="auto" height="170px" />
                            <iframe class="d-none" width="auto" height="170px"
                                src="https://www.youtube.com/embed/{{ result.vidID }}?enablejsapi=1&autoplay=0&modestbranding=1&rel=0&controls=1&iv_load_policy=3"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                            </iframe>
                        </div>
                        <div class="col-6 flex-fill">
                            <h2>
                                {% if result.gamemode != None %}
                                <img src="{{ url_for('static', filename='assets/modethumbs/' ~ result.gamemode ~ '_100x100.png') }}"
                                    height="30px" width="auto" />
                                {% endif %}
                                {{ result.title }}
                            </h2>
                            <h3>{{ infiniteCSR_Lookup[result.csr] }}</h3>
                            <p class="text-decoration-none"> uploaded on {{ result.published }}</p>
                        </div>
                        <div class="col-md-2 col-auto d-flex align-content-center justify-content-center">
                            {% set ranks = ["Bronze", "Silver", "Gold", "Platinum", "Diamond", "Onyx", "HCS", "EHL"] %}
                            {% for rank in ranks %}
                            {% if rank in infiniteCSR_Lookup[result.csr] %}
                            <img src="{{'../static/assets/icons/haloinfiniteranked/Signum' ~ rank ~ '.png'}}"
                                style="height: 150px;" />
                            {% endif %}
                            {% endfor %}
                            {% if result.videocategory == "Map Guide" %}
                            <img src="../static/assets/icons/favicon.png" style="height:150px" />
                            {% endif %}
                        </div>
                    </div>
            </article>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}