{% extends 'base.html'%}

{% block header %}
{% block title %} Profile {% endblock %}
{% endblock %}



{% block content %}
 <form action="/profile/edit/{{ username }}" name="editprofile" method="POST" enctype="multipart/ ProfileForm-data">
        {{  ProfileForm.hidden_tag() }}

        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-6">
                    <label>username</label><br>
                </div>
                <div class="col-6">
                    {{  ProfileForm.username(size=16) }}<br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>email address</label><br>
                </div>
                <div class="col-6">
                    {{  ProfileForm.email() }}<br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Xbox Gamertag</label><br>
                </div>
                <div class="col-6">
                    {{  ProfileForm.xboxname() }}<br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Time Zone</label><br>
                </div>
                <div class="col-6">
                    {{  ProfileForm.timezone }}<br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label>Arena Rank</label><br>
                </div>
                <div class="col-6">
                    {{  ProfileForm.arenarank() }}<br><br>
                </div>
            </div>

            </div>

            {{  ProfileForm.submit(class="btn btn-primary") }}

    </Form>

</div>
{% endblock %}

