<!-- TODO -->
{% extends 'base.html'%}

{% block header %}
{% block title %} Manage Article - {{ articleInfo.title }} {% endblock %}
{% endblock %}


{% block content %}

<H2 class="text-center">{{ articleInfo.title }}</H2>

<div class="container-fluid d-flex justify-content-center m-1 p-1">
    {% if videoInfo.videotype == "Longform" %}
    <iframe width="1020" height="574" src="https://www.youtube.com/embed/{{ videoInfo.vidID }}"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
    {% endif %}

</div>

<br>

