<!-- TODO -->
{% extends 'base.html'%}

{% block header %}
{% block title %} Manage Article - {{ articleData.title }} {% endblock %}
{% endblock %}


{% block content %}


<H2 class="text-center">{{ articleData.title }}</H2>

<form class="" method="POST" action="/admin/article-management/{{ articleData.articleID }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="adminDashBoardButton" type="submit" name="articleAction" value="article_delete">Delete Article</button>
            <button class="adminDashBoardButton" type="submit" name="articleAction" value="article_toggle">Toggle Article</button>

</form>

<div class="container-fluid justify-content-center m-1 p-1">

<p>{{ articleData.image_filename }}</p>
<p>{{ articleData.description }}</p>
<p>{{ articleData.content }}</p>
<img src="{{ url_for('static', filename='Assets/ArticlesIMG/' ~ articleData.image_filename) }}" width="auto" height="170px"/>
<p>{{ articleText.articlecontent }}</p>



</div>

<br>

{% endblock %}

