{% extends 'base.html'%}

{% block header %}
{% block title %} Admin Control - Video Management {% endblock %}
{% endblock %}



{% block content %}

<div class="container-fluid">
    <div class="col-3 col-sm-12">
        <H2>Video Management</H2>
        <br>
        <form class="" method="POST" action="/admin/dashboard/video-management">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="col-12 d-flex justify-content-evenly">
                <div class="col-4">
                    <h3 class=""> Video Overview</h3>
                </div>
                <div class="col-8">
                    <p>total videos on record: XXXXXXXXX</p>
                    <p>last updated: XXXXXXXXX</p>
                </div>
            </div>
            <br>
            <div class="col-12 d-flex justify-content-evenly">
                <div class="col-4">
                    <h3 class="">Modify Records</h3>
                </div>
                <button class="adminDashBoardButton" type="submit" name="videoAction" value="video_thumbnails">Refresh
                    Thumbnails</button>
                <button class="adminDashBoardButton" type="submit" name="videoAction" value="video_data">Refresh
                    JSON</button>
                <button class="adminDashBoardButton" type="submit" name="videoAction" value="video_data">Refresh
                    Database</button>
                <button class="adminDashBoardButton" type="submit" name="videoAction" value="video_modify">Modify a
                    Record</button>
            </div>
            <br>
    </div>

    <h2> full video library </h2>
    <div class="row align-content-center mx-auto p-2 my-auto" style="background-color: black!important;">
        <div class="d-flex flex-column" style="background-color: black!important; border-style: none!important;">
            {% for result in videos %}
            <a href="/videos-management/{{result.vidID}}" class="text-decoration-none">
                <article id="{{ result.vidID }}" class="video-long">
                    <div class="row mb-1 video-long">
                        <div class="col-6 col-md-auto p-0 m-0 article-image" style="border-radius: 0px; height: 170px;">
                            <img class="rounded-start-2" src="{{ result.thumbnailsmax}}" width="auto" height="170px" />
                        </div>
                        <div class="col-6 flex-fill">
                            <h2>{{ result.title }}</h2>
                            <p>video ID = {{ result.vidID }} / video CSR = {{ result.csr }} / uploaded ({{ result.date}})</p>
                            <p>post ID = {{result.postID}} / postTags = {{result.postTags}} / video type = {{ result.videotype }}</p>
                            <p> video map = {{result.gamemap }} / video mode = {{ result.gamemode }}</p>

                        </div>
                        <div class="col-md-2 col-auto d-flex align-content-center justify-content-center">
                        </div>
                    </div>
                </article>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}