{% extends 'base.html'%}

{% block header %}
{% block title %} DEBUG {% endblock %}
{% endblock %}

{% block content %}

<!-- Halo infinite Content -->
<section id="mapPage">
    <div class="row p-2 m-2">
        <div class="col-12 p-2 m-2">
            <h1 style="text-align: center;">{{ map.name }}</h1>
            <h3 style="text-align: center;">"{{ map["description"] }}"</h3>
        </div>
        <div class="col-md-11 col-xl-5 d-flex justify-content-center mx-auto my-auto">
            <img src="{{ url_for('static', filename='assets/Mapthumbs/HaloInfinite/' ~ map.name ~ '.jpg' ) }}"
                style="max-width: 100%; ">
        </div>
        <div class="col-md-11 col-xl-5 p-2 m-2 flex-fill p-2 m-2">

            <!--map data from Jinja2-->
            <div class="d-flex flex-column justify-content-evenly flex-fill h-100 p-2 m-2">


                <div>
                    <h4> <img src="../static/assets/icons/Halo.png" style="width: 20px; display: inline;"> Ranked Arena
                        Modes</h4>
                    {% set MM_modes = map["MM modes"].split() %}
                    {% for mode in GAME_MODES.keys() %}

                    {% if mode | string == "0" and mode|string in MM_modes %}
                    <h6>map is not in rotation</h6>
                    {%endif %}

                    {% if mode|string in MM_modes and mode|string != "0" %}

                    <a href="gamemode/{{ GAME_MODES[mode] }}" style="text-decoration: none;">
                        <img src="{{ url_for('static', filename='assets/modethumbs/' ~ GAME_MODES[mode] ~ '_100x100.png') }}"
                            style="max-width: 30px" alt="{{ GAME_MODES[mode] }}">
                    </a>

                    {% endif %}
                    {% endfor %}

                </div>
                <br>
                <div>

                    <h4> <img src="../static/assets/icons/HCS.png" style="width: 20px; display: inline;"> Halo
                        Championship Series Modes</h4>

                    {% set hcs_modes = map["HCS modes"].split() %}

                    {% for mode in GAME_MODES.keys() %}

                    {% if mode | string == "0" and mode|string in hcs_modes %}
                    <h6>map is not in rotation</h6>
                    {%endif %}

                    {% if mode|string in hcs_modes and mode|string != "0" %}
                    <a href="gamemode/{{ GAME_MODES[mode ]}}" style="text-decoration: none;">
                        <img src="{{ url_for('static', filename='assets/modethumbs/' ~ GAME_MODES[mode] ~ '_100x100.png') }}"
                            style="max-width: 30px" alt="{{ GAME_MODES[mode] }}">
                    </a>
                    {% if mode | string == "0" %}
                    <span>map is not in rotation</span>
                    {%endif %}
                    {% endif %}
                    {% endfor %}


                </div>
                <br>
                <div>
                    <h4> <img src="../static/assets/icons/EHL.png" style="width: 20px; display: inline;"> European Halo
                        League Modes</h4>

                    {% set EHL_modes = map["EHL modes"].split() %}

                    {% for mode in GAME_MODES.keys() %}

                    {% if mode|string in EHL_modes and mode|string == "0" %}
                    <h6>map is not in rotation</h6>
                    {%endif %}

                    {% if mode|string in EHL_modes and mode|string != "0" %}
                    <a href="gamemode/{{ GAME_MODES[mode ]}}" style="text-decoration: none;">
                        <img src="{{ url_for('static', filename='assets/modethumbs/' ~ GAME_MODES[mode] ~ '_100x100.png') }}"
                            style="max-width: 30px" alt="{{ GAME_MODES[mode] }}">
                    </a>
                    {% if mode | string == "0" %}
                    <span>map is not in rotation</span>
                    {%endif %}
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
<p> map data from dict"</p>
<p> {{ map }} </p>
<!-- SQLite query results-->
<section id="DbResults">
    <div class="d-flex flex-column">

        {% for result in map_results %}
 <div class="row mb-1">
                <div class="col-6 col-md-3 p-0 m-0 overflow-hidden article-image" style="border-radius: 0px;">
                    <img class="rounded-start-2" src="{{ result.thumbnailsmax }}" height="180px" />
                </div>
                <div class="col-6 col-md-9">
                    <h2>{{ result.title }}</h2>
                    <h3></h3>
                    <p class="article-text text-truncate wrap">{{ result.description }}</p>
                </div>
            </div>
    
            
        {% endfor %}
    </div>


</section>


</div>

{% endblock %}