{% extends 'base.html'%}

{% block header %}
{% block title %} Account Recovery {% endblock %}
{% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div>
        <h2>Account Recovery</h2>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <form action="{{ url_for('recovery') }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.username.label }} {{ form.username() }}
            {{ form.email.label }} {{ form.email() }}
            {{ form.submit(class="btn btn-primary") }}
        </form>
        <div class="register-button mt-3 text-center">
        </div>
    </div>
</div>
{% endblock %}