{% extends 'base.html'%}

{% block header %}
{% block title %} Password Reset {% endblock %}
{% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div>
        <h2>Password Reset</h2>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <form action="{{ url_for('reset_password', token=token) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.username.label }} {{ form.username() }}
            {{ form.password.label }} {{ form.password() }}
            {{ form.password2.label }} {{ form.password2() }}
            {{ form.submit(class="btn btn-primary") }}
        </form>
        <div class="register-button mt-3 text-center">
        </div>
    </div>
</div>
{% endblock %}