{% extends 'base.html'%}

{% block header %}
{% block title %} {{ videoInfo.title }} {% endblock %}
{% endblock %}


{% block content %}

<p>{{ videoInfo.title }}</p>


{% if videoInfo.videotype == "Longform" %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ videoInfo.vidID }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>
{% endif %}

{% if videoInfo.videotype == "Shortform" %}
<iframe width="315" height="560" src="https://www.youtube.com/embed/{{ videoInfo.vidID }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>
{% endif %}

<p>{{ videoInfo }}</p>

{% endblock %}