{% extends 'base.html'%}

{% block header %}
{% block title %} Error {% endblock %}
{% endblock %}

{% block content %}

    <div class="d-flex flex-column justify-content-center align-items-center m-auto">
        <span class="flex-fill text-white text-center"><h1>Well this is embarassing.... an error has occurred</h1></span>
        <br>
        <img class= "flex-fill" src="../static/Assets/Renders/Medkit.png" width="250px">
        <br>
        <h2 class="flex-fill text-white text-center"> pardon our dust...</h2>
    </div>

{% endblock %}
